@page
@model Lakehouse.Pages.App.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/layouts/_AppLayout.cshtml";
}

<h2>Dashboard</h2>
<ul>
    <li>
        <a asp-page="/Index">Index</a>
    </li>

    @if (Model.UserSession != null)
    {

        if (Model.isHost)
        {
            
            <li>
                <a asp-page="/Admin/AdminDashboard">Host Dashboard</a>
            </li>
        }


    }

</ul>