@page
@using Lakehouse.Models
@model Lakehouse.Pages.App.UserStatusModel
@{
    Layout = null;
    ViewData["Title"] = "UserStatus";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lakehouse</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="lh-flex-container column lh-flex-start lh-center-node lh-center-text">
        <div>
            @if (Model.SessionUser.UserRole == Role.Unconfirmed)
            {
                <div>
                    <h2>Account Status: <span style="color: darkcyan">Pending</span></h2>
                    <p>Your account is awaiting approval.</p>
                </div>
            }
            else if (Model.SessionUser.UserRole == Role.Denied)
            {
                <div>
                    <h2>Account Status: <span style="color: red">Denied</span></h2>
                    <p>Your account was not approved.</p>
                </div>
            }
        </div>
        <div>
            <a href="~/Logout">Log out</a>
        </div>
    </div>
</body>
</html>