@page
@model Lakehouse.Pages.layouts.ViewLakehouseModel
@{
    ViewData["Title"] = "ViewLakehouse";
    Layout = "~/Pages/layouts/_AppLayout.cshtml";
}

<h2>View Lakehouse</h2>
<img class="rounded" src="images/DiningRoom.jpg" alt="Dining Room Photo" height="400" /><br/>
<img class="rounded" src="images/Kitchen.jpg" alt="Kitchen Photo" height="400" /><br/>
<img class="rounded" src="images/LivingRoom.jpg" alt="Living Room Photo" height="400" /><br/>



