@page
@model Lakehouse.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid my-2 text-center">
    <img class="rounded" src="images/front.jpg" alt="Lake House Photo" height="400" /><br />
    <span>Welcome to Dilt's Lake House. <br /> Please Login or Register using the links below.</span>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a asp-page="/Login" class="btn btn-outline-secondary" style="width: 100px">Login</a>
            <a asp-page="/Register" class="btn btn-outline-secondary" style="width: 100px">Register</a>
        </div>
    </div>
</div>
