@page
@model Lakehouse.Pages.LogoutModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div class="lh-center-node lh-center-text">
        You have been logged out.<br />
        <a href="/Login">Log in</a>
    </div>
</body>
</html>
