@page
@model Lakehouse.Pages.LogoutModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Logged out";
}

<div class="container">
    <div class="row">
        <div class="col m-5 text-center">
            <h1>You have been logged out.</h1><br />
            <a class="btn btn-outline-secondary" href="/Login">Log in</a>
        </div>
    </div>
</div>