@page
@model Lakehouse.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>

<div class="container">

    <h4>Register</h4>
    <hr/>

    <form method="post">
        @Html.AntiForgeryToken()
        @if (Model.Message != "")
        {
            <span class="text-danger">@Model.Message</span>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SessionUser.Name" class="control-label"></label>
            <input asp-for="SessionUser.Name" class="form-control" />
            <span asp-validation-for="SessionUser.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SessionUser.Phone" class="control-label"></label>
            <input asp-for="SessionUser.Phone" class="form-control" />
            <span asp-validation-for="SessionUser.Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SessionUser.Email" class="control-label"></label>
            <input asp-for="SessionUser.Email" class="form-control" />
            <span asp-validation-for="SessionUser.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SessionUser.Password" class="control-label"></label>
            <input asp-for="SessionUser.Password" class="form-control" />
            <span asp-validation-for="SessionUser.Password" class="text-danger"></span>
        </div>
        <div class="form-group d-flex">
            <input type="submit" value="Request account" class="btn btn-primary px-5" />
            <div class="ml-auto">
                <a asp-page="/Login" class="btn btn-outline-secondary">Have an account?</a>
            </div>
        </div>
    </form>

</div>
