@page
@model Lakehouse.Pages.Admin.GuestDetailsModel
@{
    ViewData["Title"] = "Guest Details";
    Layout = "~/Pages/layouts/_AdminLayout.cshtml";
}


<style>
    table {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    td {
        padding: 10px;
        text-align: center;
    }

    th {
        text-align: center;
    }

    h4 {
        padding-top: 20px;
    }

    .user-text {
        font-size: 14px;
    }

    .buttonsBlock {
        display: flex;
    }

    .left-spacing {
        margin-left: 5px;
    }

    .message-text {
        color: blue;
    }
</style>



<h4>Guest Details</h4>


@if (Model.User != null)
{
    <table>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Password</th>
        </tr>


        <tr>
            <td>
                <a class="user-text">@Model.User.Name</a>
            </td>
            <td>
                @Model.User.UserRole
            </td>
            <td>
                @Model.User.Password
            </td>

        </tr>
        
    </table>
}
<br>
<a href="/Admin/AdminDashboard">Back to Dashboard</a>

