@page
@model Lakehouse.Pages.Admin.ReservationDetailsModel
@{
    ViewData["Title"] = "Reservations Made";
    Layout = "~/Pages/layouts/_AdminLayout.cshtml";
}
<style>
    table {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    td {
        padding: 10px;
        text-align: center;
    }

    th {
        text-align: center;
    }

    h4 {
        padding-top: 20px;
    }

    .user-text {
        font-size: 14px;
    }

    .buttonsBlock {
        display: flex;
    }

    .left-spacing {
        margin-left: 5px;
    }

    .message-text {
        color: blue;
    }
</style>



<h4>Check Reservations</h4>

@if (Model.Message != null)
{

    <p class="message-text">@Model.Message</p>
}

@if (Model.Reservations != null)
{
    <table>
        <tr>
            <th>Guest Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Options</th>
        </tr>

        @foreach (var reservation in Model.Reservations)
        {

        <tr>
            <td>
                @reservation.User.Name
            </td>
            <td>
                @reservation.StartDate
            </td>
            <td>
                @reservation.EndDate
            </td>
            <td>

                <a class="btn btn-secondary left-spacing" href="/Admin/ReservationEdit?reservationId=@reservation.ReservationId">View / Edit</a>

            </td>
        </tr>
        }
    </table>
}
<br>
<a href="/Admin/AdminDashboard">Back to Dashboard</a>
